*{
    padding: 0;
    margin: 0;
    list-style: none;
    vertical-align: baseline;
    list-style: none;
    font-family: Segoe UI, Roboto, Helvetica, Arial, sans-serif;
}

header {
    background-color: #003580;
    color: white;

}

#header-content {
    padding: 20px 0;

    /* padding botom 20px

        padding top 20px */
}

.container {
    width:  80%; /*largura*/
    margin: 0 auto; /*centraliza o conteudo*/
}

.logo {
    display: flex;
    justify-content: space-between; /* alinha o conteúdo na horizontal */
    padding: 10px;
}

.logo p {
    color: white;
    font-weight: bold; 
    font-size: 24px;
}

.row-center {
    display: flex;
    align-items: center; /*alinha o conteudo na vertical*/
    
}

#button-language{
    background-color: transparent;
    cursor: pointer;
    border: none;
}

#button-language img{
    width: 22px;
    border-radius: 50px; /*pra deixa a borda redonda*/
}

#brl-button {
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
    font-weight: bold;
    margin-right: 10px;
}

#info-button {
    color: white;
    cursor: pointer;
    text-decoration: none;
    border: 1px solid white;
    width: 22px;
    text-align: center;
    border-radius: 50px;
    height: 22px;
    margin: 0 10px;
}

#actions button {
    padding: 10px 12px;
    font-weight: 500;
    border: none;
    border-radius: 2px;
    background-color: white;
}

#actions button > a{
    color: #0071c2;
    text-decoration: none;
}

#actions button:nth-child(1){
    background-color: transparent;
    border: 1px solid white;
}

#actions button:nth-child(1) a {
    color: white;
}

#menu-options ul li a{
    color: white;
    text-decoration: none;
    margin: 20px;
}

#menu-options ul li a img {
    margin-right: 8px;
}

#menu-options ul li:nth-child(1) a {
    border: 1px solid white;
    padding: 12px;
    border-radius: 50px;
    background-color:hsla(0, 0%, 100%, .1);
}

#hero {
    height: 100%;
    background-image: url("assets/hero.jpeg");
    background-repeat:no-repeat; 
    background-size: cover;
    padding: 40px 0;
    color: white;
}

#hero p {
    font-size: 22px;
    font-weight: 300;
    margin: 20px 0;
}

#hero h1 {
    font-size: 45px;
    width: 50%;
}

#hero button {
    background-color: #0071c2;
    border: none;
    padding: 12px 18px;
}

#hero button a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    margin-top: 30px;
    font-size: 16px;
}

#form-filter-content {
    height: 45px;
    border: 3px solid #febb02;
    background-color: #febb02;
    border-radius: 5px;
    display: flex;
    margin-top: -20px;
}

#form-filter button[type="submit"] {
    background-color: #0071c2;
    color: white;
    font-size: 16px;
    padding: 20px;
    display: flex;
    align-items: center;
    border: none;
}

#work-option {
    margin-top: 15px;
}

.field {
    background-color: white;
    height: 100%;
    width: 100%;
    margin-right: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.field input {
    height: 65%;
    width: 97%;
    border: none;
    margin: 0 auto;
    padding-left: 5px;
}

.field button[type="button"] {
    background-color: transparent;
    border: none;
    cursor: pointer;
    text-align: center;
}

.info {
    border: 2px solid #ccc;
    display: flex;
    align-items: center;
    padding: 10px 0;
    margin-top: 20px;
}

.info img {
    width: 30px;
    height: 30px;
    padding: 0 10px;
}

.info a {
    text-decoration: none;
    color: #0071ce;
}

.offers {
    margin-top: 32px;
}

.offers p {
    color: #6b6b6b;
}

.offers-list {
    display: flex;
    justify-content: space-between;
}

.offers-banner{
    color: white;
    background-image: url("assets/banner-oferta.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
    border-radius: 10px;
    padding: 1rem;
    margin-right: 2rem;
    height: 10rem;
}

.offers-banner h4,p {
    width: 60%;
    margin-bottom: 10px;
}

.offers-banner button, .app-banner button {
    background-color: #0071c2;
    color: white;
    padding: 10px 15px;
    font-weight: bold;
    border-radius: 3px;
    margin-top: 10px;
    border: none;
}

.offers-banner button a, .app-banner a {
    text-decoration:  none;
    color: white;
}

.img-app {
    width: 150px;
}

.app-banner {  
    box-shadow: 0px 2px 8px 2.5px rgba(0, 0, 0, 0.16);
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding: 1rem;
    width: 50%;
}

.app-banner p {
    margin: .5rem 0; /* .5 é igual a 0.5*/
    width: 70%;
}

.destinations {
    margin-top: 2rem;
}

.destinations p {
    margin-bottom: 1rem;
}

.list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.list img {
    width: 210px;
}

.list a {
    text-decoration: none;
}

.list h5 {
    color: #000;
    font-size: 1rem;
}

.list p, .list span {
    color: #6b6b6b;
    font-size: 13px;
    width: 100%;
}

.plan {
    margin-top: 2rem;
}

.menu-filter {
    display: flex;
    width: 100%;
}

.menu-filter li {
    display: flex;
    align-items: center;
    margin-right:  20px;
    margin-bottom: 1rem;
    font-size: 14px;
    cursor: pointer;
}

.menu-filter li:nth-child(1) {
    border: 1px solid #0071c2;
    color: #0071c2;
    padding: 10px 20px;
    border-radius: 20px;
    background-color: rgba(0, 113, 194, 0.06);
}

.menu-filter img {
    width: 20px;
    margin-right: 5px;
}

.residences div:nth-child(1) {
    display: flex;
    justify-content: space-between;
    margin: 2rem 0;
}

.residences div:nth-child(1) button {
    background-color: rgba(0, 113, 194, 0.186);
    border: 1px solid #0071c2;
    border-radius: 20px;
    padding: 10px 15px;
}

.residences div:nth-child(1) button a {
    text-decoration: none;
    color: #0071c2;
}

.list-residences h5, p {
    font-size: 14px;
    width: 70%;
}

.list-residences {
    justify-content: flex-start;
}

.list-residences li {
    margin-right:  1.5rem;
}

.list-residences span:nth-child(1) {
    background-color: #003580;
    color: white;
    padding: 3px;
    /*border-top-left-radius:  5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;*/
    border-radius: 5px 5px 5px 0;
}

.list-residences span:nth-child(2) {
    font-size: 12px;
    color: #000;
}

.list-residences span:nth-child(3) {
    font-size: 13px;
}

.list-residences p:nth-child(2) {
    margin: 4px 0;
}

.news-letter{
    background-color: #062755;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5rem 3rem;
    text-align: center;
    margin-top: 2rem;
}

.news-letter h2 {
    font-weight: 300;
}

.news-letter p {
    color: #bdbdbd;
}

.news-letter form input[type="email"] {
    width:  355px;
    height: 40px;
    border-radius: 5px;
    padding-left: 10px;
    font-size: 1rem;
    border: none;
}

.news-letter form input[type="submit"] {
    background-color: #0071c2;
    color: white;
    border-radius: 5px;
    border: none;
    padding: .8rem;
}